<div class="recipe-card">
  <div class="recipe-card-header">
        {{meal_name}}
  </div>
  <div class="card-body">
      <p>
          Description:
          {{meal_description}}
      </p>
  </div>
</div>
  

  {{!-- Need to verify user is logged in for saved data --}}