<div id="header">
        <h3 id="newRecipe">New Recipe</h3>
    </div>

    <div class="column side">
        <ul>
            <!-- <li><button id="login"> Login </button></li> -->
            <li><button><a href="/" id="my_recipes"> My Recipes</a></button></li>
            <li><button id="saved_recipes"> Saved Recipes</button></li>
            <li><button id="top_recipes"> Add Recipe </button></li>
            <li><button id="inspire_me"> Inspire Me </button></li>
            <br>

            <!-- <li>
                <select class="browser-default" name="meal">
                    <option value="" disabled selected hidden>Bre/Lun/Din</option>
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Dinner</option>
                </select>
            </li>

            <li>
                <select class="browser-default" name="prep">
                    <option value="" disabled selected hidden>Prep Time:</option>
                    <option>10min</option>
                    <option>20min</option>
                    <option>30min</option>
                    <option>30min+</option>
                </select>
            </li> -->

            <!-- <li>
                <select class="browser-default" name="ingredient">
                    <option value="" disabled selected hidden>Main Ingredient:</option>
                </select>
            </li> -->

            <!-- <li>
                <button id="search">Search</button>
            </li> -->

        </ul>
    </div>