<header id="header">
    <h3>Anyone Can Cook</h3>
    <br>

    <container id="span">
        <div id="ingredientSearch">
            <span><input type="text" placeholder="Search by ingredient" name="search"></span>
        </div>
        <div id="recipeSearch">
            <span><input type="text" placeholder="Search for recipe" name="search"></span>
        </div>
        <div id="authorSearch">
            <span>
                <input type="text" placeholder="Search by author" name="search">
                <i class="fi fi-rr-search"> </i>
            </span>
        </div>
    </container>

</header>
<!-- <div id="row"> -->
<!--side nav-->
<div class="column side">
    <ul>
        <li><button> My Recipes ()</button></li>
        <li><button> Saved Recipes ()</button></li>
        <li><button> Top Recipes </button></li>
        <li><button> Inspire Me </button></li>
        <br>

        <li>
            <select class="browser-default" name="meal">
                <option value="" disabled selected hidden>Bre/Lun/Din</option>
                <option>Breakfast</option>
                <option>Lunch</option>
                <option>Dinner</option>
            </select>
        </li>

        <li>
            <select class="browser-default" name="prep">
                <option value="" disabled selected hidden>Prep Time:</option>
                <option>10min</option>
                <option>20min</option>
                <option>30min</option>
                <option>30min+</option>
            </select>
        </li>

        <li>
            <select class="browser-default" name="ingredient">
                <option value="" disabled selected hidden>Main Ingredient:</option>
            </select>
        </li>

        <li>
            <button id="search">Search</button>
        </li>

    </ul>
</div>
<!-- </div> -->
<div class="column middle">


    <div id="card1">
        <div class="row">
            <!-- <div class="col s12 m6"> -->
            <div class="card">
                <div class="card-image">
                    <img src="/images/chad-montano-food .jpg">
                    <span class="card-title">Meal name</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am
                        convenient because I require little markup to use effectively.</p>
                </div>

            </div>
            <!-- </div> -->
        </div>
    </div>
    <div id="card2">
        <div class="row">
            <!-- <div class="col s12 m8"> -->
            <div class="card">
                <div class="card-image">
                    <img src="/images/chad-montano-food .jpg">
                    <span class="card-title">Meal name</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am
                        convenient because I require little markup to use effectively.</p>
                </div>

            </div>
            <!-- </div> -->
        </div>
    </div>
    <div id="card3">
        <div class="row">
            <!-- <div class="col s12 m6"> -->
            <div class="card">
                <div class="card-image">
                    <img src="/images/chad-montano-food .jpg">
                    <span class="card-title">Meal name</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am
                        convenient because I require little markup to use effectively.</p>
                </div>

            </div>
            <!-- </div> -->
        </div>
    </div>

</div>